<section class="error-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="error-wrap text-center">
                    <div class="error-img">
                        <img src="assets/img/others/error_img.svg" alt="img">
                    </div>
                    <div class="error-content">
                        <h2 class="title">ERROR! <span>Sorry! This Content is Not Available!</span></h2>
                        <div class="tg-button-wrap">
                            <a routerLink="" class="btn tg-svg"><span class="text">Go To Home Page</span> <span
                                    class="svg-icon" id="error-btn"
                                    data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>