<!-- instructor-area -->
<section class="instructor-area section-pt-120 section-pb-70">
    <div class="container">
      <div class="section__title-wrap">
        <div class="row align-items-center gap-4 gap-md-0">
          <div class="col-md-8">
            <div class="section__title text-center text-md-start">
              <span class="sub-title">Our Qualified People Matter</span>
              <h2 class="title tg-svg">Top <span class="position-relative"><span class="svg-icon" id="svg-8"
                    data-svg-icon="assets/img/icons/title_shape.svg"></span>Class</span> instructor</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tg-button-wrap justify-content-center justify-content-md-end">
              <a href="instructor.html" class="btn tg-svg"><span class="text">All Instructors</span> <span
                  class="svg-icon" id="instructor-btn" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="instructor__item">
            <div class="instructor__img">
              <div class="instructor__shape" style="background-color: #E2FAFF; border-radius: 135px 0 0 0;"></div>
              <a href="instructor-details.html"><img src="assets/img/instructor/instructor01.png" alt="instructor"></a>
            </div>
            <div class="instructor__content">
              <div class="left">
                <span class="designation">Graphic Design</span>
                <h4 class="name"><a href="instructor-details.html">Robert Smith</a></h4>
              </div>
              <div class="right">
                <span class="share"><i class="flaticon-share"></i></span>
                <ul class="social-list list-wrap">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="instructor__item">
            <div class="instructor__img">
              <div class="instructor__shape" style="background-color: #E4FFE2; border-radius: 135px 115px 115px 0;">
              </div>
              <a href="instructor-details.html"><img src="assets/img/instructor/instructor02.png" alt="instructor"></a>
            </div>
            <div class="instructor__content">
              <div class="left">
                <span class="designation">Web Design</span>
                <h4 class="name"><a href="instructor-details.html">Olivia Mia</a></h4>
              </div>
              <div class="right">
                <span class="share"><i class="flaticon-share"></i></span>
                <ul class="social-list list-wrap">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="instructor__item">
            <div class="instructor__img">
              <div class="instructor__shape" style="background-color: #E8EDFF; border-radius: 135px 0 0 0;"></div>
              <a href="instructor-details.html"><img src="assets/img/instructor/instructor03.png" alt="instructor"></a>
            </div>
            <div class="instructor__content">
              <div class="left">
                <span class="designation">Digital Marketing</span>
                <h4 class="name"><a href="instructor-details.html">William Hope</a></h4>
              </div>
              <div class="right">
                <span class="share"><i class="flaticon-share"></i></span>
                <ul class="social-list list-wrap">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="instructor__item">
            <div class="instructor__img">
              <div class="instructor__shape" style="background-color: #FFE2E2; border-radius: 135px 115px 115px 0;">
              </div>
              <a href="instructor-details.html"><img src="assets/img/instructor/instructor04.png" alt="instructor"></a>
            </div>
            <div class="instructor__content">
              <div class="left">
                <span class="designation">Web Development</span>
                <h4 class="name"><a href="instructor-details.html">Sophia Ava</a></h4>
              </div>
              <div class="right">
                <span class="share"><i class="flaticon-share"></i></span>
                <ul class="social-list list-wrap">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- instructor-area-end -->
  <!-- cta-area -->
  <section class="cta-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta__wrapper">
            <div class="section__title white-title">
              <h2 class="title tg-svg">Join us & <span class="position-relative"><span class="svg-icon" id="svg-9"
                    data-svg-icon="assets/img/icons/title_shape.svg"></span>Spread</span> Experiences</h2>
            </div>
            <div class="cta__desc">
              <p>Borem ipsum dolor sit amet, consectetur adipiscing eliawe awUt elit ellus, luctus nec ullamcorper
                mattisBorem</p>
            </div>
            <div class="tg-button-wrap justify-content-center justify-content-md-end">
              <a href="contact.html" class="btn white-btn tg-svg"><span class="text">Become an Instructor</span> <span
                  class="svg-icon" id="cta-btn" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
            </div>
            <img class="object" src="assets/img/objects/cta_shape01.svg" style="left: 25px; top: -35px;" alt="Object"
              data-aos="fade-down" data-aos-delay="400">
            <img class="object" src="assets/img/objects/cta_shape02.svg" style="right: -20px; bottom: -80px;"
              alt="Object" data-aos="fade-up" data-aos-delay="400">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta-area-end -->
