.da {
    color: #0e83f0 ;
    background-color: #f5f0ff;
}

.de {
    color: #F5B204 ;
    background-color: #FFF3D3;
}

.di {
    color: #BC18E4 ;
    background-color: #F7EEFA;
} 

.b {
    color: #f50404;
    background-color: #ffd3d3;
}

.f {
    color: #FF109F ;
    background-color: #FFF0F9;
}

.g {
    color: #04BC53 ;
    background-color: #E8F9EF;
}

.img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  