<div class="dashboard-admin">
    <div class="menu" >
        <ul>
            <li class="profile">
                <div class="img-box" *ngIf="connectedUser">
                    <img [src]= "connectedUser.avatar" alt="profile" style="object-fit: cover;">
                </div>
                <h2>{{connectedUser?.firstName}}</h2>
            </li>
            <li>
                <a class="active">
                    <i class="fas fa-home"></i>
                    <p>dashboard</p>
                </a>
            </li>
            <li>
                <a routerLink= "">
                    <i class="fas fa-user-group"></i>
                    <p>users</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-group"></i>
                    <p>teachers of hold</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-table"></i>
                    <p>courses</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-star"></i>
                    <p>favorite</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <p>settings</p>
                </a>
            </li>
            <li class="log-out">
                <a href="#" style="background-color: rgb(243, 52, 52);"
                (click)="logOut()">
                    <i class="fas fa-sign-out" style="color: white;"></i>
                    <p style="color: white;">Log Out</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title-info">
            <p style="color: white;">dashboard</p>
            <i class="fas fa-chart-bar"></i>
        </div>
        <div class="data-info">
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>users</p>
                    <span>100</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>teachers on hold</p>
                    <span>100</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-table"></i>
                <div class="data">
                    <p>courses</p>
                    <span>34</span>
                </div>
            </div>
        </div>
        <div class="admin-tabs" style="margin-top: 30px;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-teachers-tab" data-bs-toggle="pill" data-bs-target="#pills-teachers" type="button" role="tab" aria-controls="pills-teachers" aria-selected="true">Teachers</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-students-tab" data-bs-toggle="pill" data-bs-target="#pills-students" type="button" role="tab" aria-controls="pills-students" aria-selected="false">Students</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-parents-tab" data-bs-toggle="pill" data-bs-target="#pills-parents" type="button" role="tab" aria-controls="pills-parents" aria-selected="false">Parents</button>
                  </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-courses-tab" data-bs-toggle="pill" data-bs-target="#pills-courses" type="button" role="tab" aria-controls="pills-courses" aria-selected="false">Courses</button>
                </li>
              </ul>
              
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-teachers" role="tabpanel" aria-labelledby="pills-teachers-tab">
                    <app-teachers-table></app-teachers-table>
                </div>
                <div class="tab-pane fade" id="pills-students" role="tabpanel" aria-labelledby="pills-students-tab">
                    <app-students-table></app-students-table>
                </div>
                <div class="tab-pane fade" id="pills-parents" role="tabpanel" aria-labelledby="pills-parents-tab">
                    <app-parents-table></app-parents-table>
                </div>
                <div class="tab-pane fade" id="pills-courses" role="tabpanel" aria-labelledby="pills-courses-tab">
                    <app-courses-table></app-courses-table>
                </div>
              </div>
        </div>
    </div>
</div>






<!-- main-area -->
<!-- <main class="main-area fix" style="margin-top: 100px;">

    <app-opening-word [openingWordInput]="word"></app-opening-word>

    <div class="admin-tabs" style="margin-top: 30px; margin-left: 30px;">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
    </div>



</main> -->
<!-- main-area-end -->