<div class="dashboard-admin">
    <div class="menu">
        <ul>
            <li class="profile">
                <div class="img-box">
                    <img src="" alt="profile">
                </div>
                <h2>noura</h2>
            </li>
            <li>
                <a class="active" href="#">
                    <i class="fas fa-home"></i>
                    <p>dashboard</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-group"></i>
                    <p>users</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-group"></i>
                    <p>teachers of hold</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-table"></i>
                    <p>courses</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-star"></i>
                    <p>favorite</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <p>settings</p>
                </a>
            </li>
            <li class="log-out">
                <a href="#" style="background-color: rgb(243, 52, 52);">
                    <i class="fas fa-sign-out" style="color: white;"></i>
                    <p style="color: white;">Log Out</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title-info">
            <p style="color: white;">dashboard</p>
            <i class="fas fa-chart-bar"></i>
        </div>
        <div class="data-info">
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>teachers</p>
                    <span>100</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>teachers on hold</p>
                    <span>100</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>students</p>
                    <span>765</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-user"></i>
                <div class="data">
                    <p>parents</p>
                    <span>126</span>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-table"></i>
                <div class="data">
                    <p>courses</p>
                    <span>34</span>
                </div>
            </div>
        </div>
        <div class="title-info">
            <p style="color: white;">products</p>
            <i class="fas fa-table"></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><span class="price"></span></td>
                    <td><span class="count"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="price"></span></td>
                    <td><span class="count"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="price"></span></td>
                    <td><span class="count"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="price"></span></td>
                    <td><span class="count"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>