<!-- categories-area -->
<section class="categories-area section-py-130">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-5 col-lg-8 col-md-10">
          <div class="categories__title-wrap text-center text-xl-start">
            <div class="section__title">
              <span class="sub-title">Unique online courses</span>
              <h2 class="title tg-svg">Browse By <span class="position-relative"><span class="svg-icon" id="svg-5"
                    data-svg-icon="assets/img/icons/title_shape.svg"></span>Categories</span></h2>
            </div>
            <p>Borem ipsum dolor sit amet, consectetur adipiscing eliawe awut elit ellus, luctus nec ullamcorper
              mattisBorem ipsum dolor awes atnse awctetur.</p>
            <div class="tg-button-wrap justify-content-center justify-content-xl-start">
              <a href="courses.html" class="btn btn-border tg-svg"><span class="text">All Categories</span> <span
                  class="svg-icon" id="svg-6" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-9">
          <div class="categories__wrap">
            <img src="assets/img/objects/categories_shape03.svg" alt="shape" data-aos="fade-right">
            <img src="assets/img/objects/categories_shape04.svg" alt="shape" data-aos="fade-left">
            <div class="row justify-content-center row-cols-2 row-cols-md-3">
              <div class="col">
                <div class="categories__item">
                  <a href="courses.html">
                    <i class="flaticon-graphic-design"></i>
                    <span class="name">Graphic Design</span>
                    <span class="courses">19 Courses</span>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="categories__item">
                  <a href="courses.html">
                    <i class="flaticon-email-marketing"></i>
                    <span class="name">Marketing</span>
                    <span class="courses">10 Courses</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row justify-content-center row-cols-2 row-cols-sm-3">
              <div class="col">
                <div class="categories__item">
                  <a href="courses.html">
                    <i class="flaticon-bars"></i>
                    <span class="name">Fiance</span>
                    <span class="courses">08 Courses</span>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="categories__item">
                  <a href="courses.html">
                    <i class="flaticon-programming-language"></i>
                    <span class="name">Development</span>
                    <span class="courses">13 Courses</span>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="categories__item">
                  <a href="courses.html">
                    <i class="flaticon-atom"></i>
                    <span class="name">Science</span>
                    <span class="courses">19 Courses</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="categories__shapes">
      <div class="categories__shapes-item rotateme"><img src="assets/img/objects/categories_shape01.png" alt="shape">
      </div>
      <div class="categories__shapes-item" data-aos="fade-up"><img src="assets/img/objects/categories_shape02.png"
          alt="shape"></div>
    </div>
  </section>
  <!-- categories-area-end -->
