table {
    width: 100%;
    text-align: center;
    border-collapse: separate!important;
    border-spacing: 10px!important;
}

td,
th {
    background-color: #e5edfd;
    height: 40px;
    border-radius: 8px;
}

th {
    background-color: #1363DF;
    color: white;
    font-weight: 100;
}

tr,
td {
    border: 2px solid white;
}

.confirm-btn{
    border: none;
    border-radius: 8px; 
    color: rgb(25, 198, 25);
    margin-right: 3px;
}

.confirm-btn:hover{
    background-color: rgb(25, 198, 25);
    color: white;
}

.display-btn{
    border: none;
    border-radius: 8px;
    margin-right: 3px;
}

.display-btn:hover{
    background-color: #1363DF;
    color: white;
}

.delete-btn{
    border: none;
    border-radius: 8px; 
    color: red;
}

.delete-btn:hover{
    background-color: red;
    color: white;
}

.read-btn{
    border: none;
    border-radius: 8px;
    color: orange;
}

.read-btn:hover{
    background-color: orange;
    color: white;
}