<!-- newsletter-area -->
<section class="newsletter-area section-py-55">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 col-lg-4">
          <div class="newsletter__img-wrap">
            <div class="newsletter__img" data-aos="fade-right">
              <img src="assets/img/others/newsletter.png" alt="img">
            </div>
            <div class="newsletter__content">
              <h4 class="title">Let’s Join To <br> Our Newsletters</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="newsletter__form">
            <form action="#">
              <input type="email" placeholder="Enter your email" required>
              <button type="submit">Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- newsletter-area-end -->
