<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Sessions Number</th>
            <th>Students Number</th>
            <th>Price</th>
            <th>Avatar</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.courseName}}</td>
            <td>{{course.description}}</td>
            <td>{{course.duration}} week(s)</td>
            <td>{{course.sessionsNbr}}</td>
            <td>{{course.studentsNbr}}</td>
            <td>{{course.price}} TND</td>
            <td><img [src]="course.img" alt="" style="padding: 0 3px;"></td>
            <td>
                <button class="display-btn" style="margin-bottom: 8px;" (click)="goToInfo(course._id)"><i class="fa-solid fa-display"></i></button>
                <button class="delete-btn" (click)="deleteCourse(course._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>


