<!-- banner-area -->
<section class="banner-area banner-bg" data-background="assets/img/banner/banner_bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner__content">
            <img src="assets/img/banner/bshape_01.png" alt="shape" class="shape alltuchtopdown">
            <img src="assets/img/banner/bshape_02.png" alt="shape" class="shape">
            <span class="sub-title" data-aos="fade-right" data-aos-delay="200">100% Satisfaction Guarantee</span>
            <h3 class="title tg-svg" data-aos="fade-right" data-aos-delay="400">Learn <span
                class="position-relative"><span class="svg-icon" id="svg-2"
                  data-svg-icon="assets/img/icons/title_shape.svg"></span>Skills</span> From Our Top Instructors</h3>
            <p data-aos="fade-right" data-aos-delay="600">Borem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              elit tellus, luctus nec ullamcorper mattisBorem ipsum dolor sit amet consectetur adipiscing area we
              followelit.</p>
            <div class="banner__btn-wrap" data-aos="fade-right" data-aos-delay="800">
              <div class="tg-button-wrap">
                <a href="courses.html" class="btn tg-svg"><span class="text">Explore Courses</span> <span
                    class="svg-icon" id="svg-1" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
              </div>
              <div class="banner__phone">
                <i class="flaticon-phone-call"></i>
                <div class="number-info">
                  <span>Have any Question?</span>
                  <h6 class="number"><a href="tel:993-00-67777">993-00-67777</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner__images">
            <img src="assets/img/banner/banner_img.png" alt="img" class="main-img">
            <img src="assets/img/banner/bshape_03.png" alt="shape" class="shape" data-aos="fade-down-right"
              data-aos-delay="1200">
            <img src="assets/img/banner/bshape_04.png" alt="shape" class="shape" data-aos="fade-right"
              data-aos-delay="1200">
            <img src="assets/img/banner/bshape_05.png" alt="shape" class="shape" data-aos="fade-down-left"
              data-aos-delay="1200">
            <div class="banner__fact">
              <div class="banner__fact-item">
                <div class="icon">
                  <i class="flaticon-group"></i>
                </div>
                <div class="info">
                  <span>Total Students</span>
                  <h4 class="count">15K</h4>
                </div>
              </div>
              <div class="banner__fact-item">
                <div class="icon">
                  <i class="flaticon-graduation-cap"></i>
                </div>
                <div class="info">
                  <span>Complete Graduation</span>
                  <h4 class="count">34K</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner-area-end -->

  <!-- start of a separation line  -->
  <div style="border-top: orange 1px solid; width: 1000px; margin-left: 170px; margin-top: 60px;">
  </div>
  <!-- end of a separation line  -->
