<!-- main-area-start -->
<main class="main-area fix" style="margin-top: 100px;">
  <app-opening-word [openingWordInput]="word"></app-opening-word>


  <!-- all-courses -->
  <section class="all-courses-area section-py-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 order-2 order-lg-0">
          <aside class="courses__sidebar">
            <div class="shop-widget">
              <h4 class="widget-title">Filter by Category</h4>
              <div class="shop-cat-list">
                <ul class="list-wrap">
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_1">
                      <label class="form-check-label" for="cat_1">Art & Design (8)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_2">
                      <label class="form-check-label" for="cat_2">Business (12)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_3">
                      <label class="form-check-label" for="cat_3">Data Science (7)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_4">
                      <label class="form-check-label" for="cat_4">Development (10)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_5">
                      <label class="form-check-label" for="cat_5">Finance (8)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_6">
                      <label class="form-check-label" for="cat_6">Health & Fitness (8)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_7">
                      <label class="form-check-label" for="cat_7">Lifestyle (9)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_8">
                      <label class="form-check-label" for="cat_8">Marketing (8)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_9">
                      <label class="form-check-label" for="cat_9">Music (8)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="cat_10">
                      <label class="form-check-label" for="cat_10">Development (9)</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="shop-widget">
              <h4 class="widget-title">Instructors</h4>
              <div class="shop-cat-list">
                <ul class="list-wrap">
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_1">
                      <label class="form-check-label" for="ins_1">Kiran Molly (11)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_2">
                      <label class="form-check-label" for="ins_2">Jackson Alive (12)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_3">
                      <label class="form-check-label" for="ins_3">Oawe Alve (9)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_4">
                      <label class="form-check-label" for="ins_4">Liakon Rivey (9)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_5">
                      <label class="form-check-label" for="ins_5">Foley Patrik (9)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="ins_6">
                      <label class="form-check-label" for="ins_6">Kiran Molly (11)</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="shop-widget">
              <h4 class="widget-title">Difficulty Level</h4>
              <div class="shop-cat-list">
                <ul class="list-wrap">
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="difficulty_1">
                      <label class="form-check-label" for="difficulty_1">All Levels (50)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="difficulty_2">
                      <label class="form-check-label" for="difficulty_2">Beginner (32)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="difficulty_3">
                      <label class="form-check-label" for="difficulty_3">Intermediate (17)</label>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="difficulty_4">
                      <label class="form-check-label" for="difficulty_4">Expert (2)</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="shop-widget">
              <h4 class="widget-title">Ratings</h4>
              <div class="shop-rating-list">
                <ul class="list-wrap">
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <div class="rating">
                        <ul class="list-wrap">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                        </ul>
                        <span>(5.0)</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <div class="rating">
                        <ul class="list-wrap">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                        </ul>
                        <span>(4.1)</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <div class="rating">
                        <ul class="list-wrap">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                        </ul>
                        <span>(3.2)</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <div class="rating">
                        <ul class="list-wrap">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                        </ul>
                        <span>(2.1)</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <div class="rating">
                        <ul class="list-wrap">
                          <li><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                          <li class="delete"><i class="fas fa-star"></i></li>
                        </ul>
                        <span>(1.2)</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
              <div class="row courses__grid-wrap row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
                <div class="col" *ngFor="let course of courses">

                  <app-course [courseInput]="course"></app-course>

                </div>
              </div>
              <nav class="pagination__wrap mt-30">
                <ul class="list-wrap">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="courses.html">2</a></li>
                  <li><a href="courses.html">3</a></li>
                  <li><a href="courses.html">...</a></li>
                  <li><a href="courses.html">5</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- all-courses-end -->
</main>
<!-- main-area-end -->