<!-- course-area -->
<section class="courses-area section-pt-120 section-pb-90">
    <div class="container">
      <div class="section__title-wrap">
        <div class="row align-items-end">
          <div class="col-lg-6">
            <div class="section__title text-center text-lg-start">
              <span class="sub-title">10,000+ Unique Online Courses</span>
              <h2 class="title tg-svg">Our <span class="position-relative"><span class="svg-icon" id="svg-4"
                    data-svg-icon="assets/img/icons/title_shape.svg"></span>Featured</span> Courses</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="courses__nav-active">
              <button class="active" data-filter="*">All Courses <span>New</span></button>
              <button data-filter=".cat-one">Design</button>
              <button data-filter=".cat-two">Marketing</button>
              <button data-filter=".cat-three">Development</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row courses-active row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
        <div class="col grid-item cat-two cat-three">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #04BC53;">Graphic Design</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb01.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 05 Lessons</li>
                <li><i class="flaticon-timer"></i> 12h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">A Biginer Adobe Illustrator for
                  Graphic Design</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(06)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author.png" alt="img"></a>
                  <a href="instructor-details.html">David Millar</a>
                </div>
                <h5 class="price">$11.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col grid-item cat-one">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #BC18E4;">Marketing</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb02.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 09 Lessons</li>
                <li><i class="flaticon-timer"></i> 17h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">How to Market Yourself as a
                  Coach or Consultant</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(10)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author02.png" alt="img"></a>
                  <a href="instructor-details.html">Mark Lassoff</a>
                </div>
                <h5 class="price"><del>$29.00</del>$19.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col grid-item cat-two cat-three">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #FF2020;">Marketing</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb03.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 08 Lessons</li>
                <li><i class="flaticon-timer"></i> 14h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">Become a Certified HTML, CSS,
                  JavaScript Web Developer</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(08)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author03.png" alt="img"></a>
                  <a href="instructor-details.html">David Millar</a>
                </div>
                <h5 class="price">$29.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col grid-item cat-one">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #FF2020;">Development</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb04.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 12 Lessons</li>
                <li><i class="flaticon-timer"></i> 15h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">Running a Web Development
                  The Complete Guide</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(08)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author04.png" alt="img"></a>
                  <a href="instructor-details.html">David Millar</a>
                </div>
                <h5 class="price"><del>$24.00</del>$15.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col grid-item cat-one cat-three">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #03C0EA;">Photography</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb05.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 10 Lessons</li>
                <li><i class="flaticon-timer"></i> 12h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">The Art of Seeing Photography
                  training for the Artist in you</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(10)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author05.png" alt="img"></a>
                  <a href="instructor-details.html">David Millar</a>
                </div>
                <h5 class="price">$14.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col grid-item cat-two">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a href="#" class="courses__item-tag" style="background-color: #FF109F;">Finance</a>
              <a href="course-details.html" class="shine__animate-link">
                <img src="assets/img/courses/course_thumb06.jpg" alt="img">
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li><i class="flaticon-file"></i> 12 Lessons</li>
                <li><i class="flaticon-timer"></i> 16h 30m</li>
                <li><i class="flaticon-user-1"></i> Students</li>
              </ul>
              <h5 class="title"><a href="course-details.html">The Complete Guide to the
                  Global Capital Markets</a></h5>
              <div class="courses__item-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="rating-count">(14)</span>
              </div>
              <div class="courses__item-bottom">
                <div class="author">
                  <a href="instructor-details.html"><img src="assets/img/courses/course_author06.png" alt="img"></a>
                  <a href="instructor-details.html">David Millar</a>
                </div>
                <h5 class="price">$22.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="courses__shapes">
      <div class="courses__shapes-item alltuchtopdown"><img src="assets/img/courses/course_shape01.png" alt="shape">
      </div>
      <div class="courses__shapes-item alltuchtopdown"><img src="assets/img/courses/course_shape02.png" alt="shape">
      </div>
    </div>
  </section>
  <!-- course-area-end -->
