<!-- main-area -->
<main class="main-area fix" style="margin-top: 100px;">

    <app-opening-word [openingWordInput]="word"></app-opening-word>

    <!-- Display teacher's courses Start -->
    <section class="contact-area section-py-120">
        <div class="container">
            <div class="course-grid">
                <div class="course-card" *ngFor="let course of courses">
                    <div class="tooltip-container">
                        <img [src]="course.img" alt="" style="border-radius: 8px; width: 320px;"
                            (click)="courseDetailsRoute(course._id)">
                        <span class="tooltip-message">Click on the photo to get the list of the assigned students to the
                            <span style="color: orange;">{{course.courseName}}</span> course</span>
                    </div>
                    <h3>{{course.courseName}}</h3>
                    <div class="icons-container">
                        <i class="fas fa-edit edit-icon" style="color: #1363DF;" (click)="goToEdit(course._id)"></i>
                        <div class="delete-icon" (click)="deleteCourse(course._id)">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Display teacher's courses End -->

</main>
<!-- main-area-end -->