<!-- testimonial-area -->
<section class="testimonial-area testimonial-bg section-py-120"
style="background-image: url('assets/img/bg/testimonial_bg.jpg');">
<div class="container">
  <div class="row align-items-xl-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <div class="testimonial__image-wrapper position-relative">
        <div class="testimonial__image-active">
          <div class="testimonial__image-item">
            <img src="assets/img/others/testimonial01.jpg" alt="img">
          </div>
        </div>
        <div class="testimonial__shapes">
          <img src="assets/img/objects/testi_shape01.svg" alt="shape" data-aos="fade-up-left" data-aos-delay="300">
          <img src="assets/img/objects/testi_shape02.svg" alt="shape" data-aos="fade-up-right" data-aos-delay="300">
          <img src="assets/img/objects/testi_shape03.svg" alt="shape" class="rotateme">
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="testimonial__content-wrapper">
        <div class="section__title white-title mb-40">
          <h2 class="title tg-svg">What Our <span class="position-relative"><span class="svg-icon" id="svg-7"
                data-svg-icon="assets/img/icons/title_shape.svg"></span>Students</span><br> Say About Us</h2>
        </div>
        <div class="testimonial__content-active">
          <div class="testimonial__content-item">
            <div class="testimonial__content-icon">
              <img src="assets/img/icons/quote.png" alt="img">
            </div>
            <p>“ when an unknown printer took a galley of type and scrambled to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic.”</p>
            <div class="testimonial__content-avatar">
              <h5 class="name">Parker Robert</h5>
              <span class="designation">UI Designer</span>
            </div>
          </div>
        </div>
        <div class="testimonial__content-nav"></div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- testimonial-area-end -->
