<!-- blog-area -->
<section class="blog-area blog-bg-circle section-pt-205 section-pb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8">
          <div class="section__title text-center mb-40">
            <span class="sub-title">Always Smart To Hear News</span>
            <h2 class="title tg-svg">Latest <span class="position-relative"><span class="svg-icon" id="svg-10"
                  data-svg-icon="assets/img/icons/title_shape.svg"></span>News</span> & Blog</h2>
            <p class="desc">Receive huge benefits with our lifetime Plumbing Receive huge benefits with our lifetime
              Plumbing email address will be shown</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="blog__post-item shine__animate-item">
            <div class="blog__post-thumb">
              <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_thumb01.jpg"
                  alt="img"></a>
            </div>
            <div class="blog__post-content">
              <a href="#" class="cat">Education</a>
              <h4 class="title"><a href="blog-details.html">when aeunkno printer took galley of scrambled</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 23 Aug, 2023</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="blog__post-item shine__animate-item">
            <div class="blog__post-thumb">
              <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_thumb02.jpg"
                  alt="img"></a>
            </div>
            <div class="blog__post-content">
              <a href="#" class="cat">Course</a>
              <h4 class="title"><a href="blog-details.html">Full Stack GraphQL With Next.js And Vercel</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 24 Aug, 2023</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-9">
          <div class="blog__post-item shine__animate-item">
            <div class="blog__post-thumb">
              <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_thumb03.jpg"
                  alt="img"></a>
            </div>
            <div class="blog__post-content">
              <a href="#" class="cat">Skill Development</a>
              <h4 class="title"><a href="blog-details.html">What Leonardo Teach us About Web Design</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 24 Aug, 2023</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="object" src="assets/img/objects/blog_shape01.png" width="97" style="left: 8%; top: 32%;" alt="Object">
    <img class="object rotateme" src="assets/img/objects/blog_shape02.png" width="66" style="right: 9%; bottom: 23%;"
      alt="Object">
  </section>
  <!-- blog-area-end -->
