<table>
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Tel</th>
            <th>Child's Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of parents">
            <td>{{p.firstName}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.tel}}</td>
            <td>{{p.childNbr}}</td>
            <td>
                <button class="display-btn" style="margin-right: 3px;" (click)="goToInfo(p._id)"><i class="fa-solid fa-display"></i></button>
                <button class="delete-btn" (click)="deleteParent(p._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>
